#container-about {
    width: 85%;
    background-color: rgb(255, 255, 255, .2);
    border-radius: 2rem;
    margin: 4rem auto;
}

#container-about h1 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(57, 56, 55);
    padding: 2rem 0;
}

